<script>
$(function() {
 
    $("form").bind("keypress", function(e) {
            if (e.keyCode == 13) return false;
      });
 
});
</script>

<%= form_for @mood_ring, url: {action: 'create'}, method: 'post' do |form| %>
<p>  Optimistic: <%= form.check_box :optimistic, :data => {:remote => true, :url => url_for(:action => :update_optimistic)} %></p>
<p>  Mood:   
  <%= form.radio_button :mood, :happy, :data => {:remote => true, :url => url_for(:action => :update_mood)} %> 
  &nbsp; 
  Happy &nbsp;&nbsp; 
  <%= form.radio_button :mood, :sad, :data => {:remote => true, :url => url_for(:action => :update_mood)} %> &nbsp; Sad
</p>

<p/>

<p>
  <%= form.text_field :comment, :remote => true, :data => {:remote => true, :url => url_for(:action => :update_comment)} %>
</p>

<p>
  <%= form.select :confidence, [[0,0], [1,1], [2,2], [3,3]], {:prompt => "- Confidence -", :default => 0}, :data => {:remote => true, :url => url_for(:action => :update_confidence)} %>
</p>

<%= submit_tag "Create" %>
<% end %>
<p>
  <div id="mood_ring"><%= render :partial => "mood_ring", :object => @mood_ring %></div>
</p>
