<tr class="reg-list-row">
	<td style="width:160px" class="reg-list-line-summary-cell"><%= mail_to(registration_line_summary.email) %></td>
	<td style="width:133px" class="reg-list-line-summary-cell"><%= registration_line_summary.first_name %> <%= registration_line_summary.last_name %></td>
	<td style="width:90px" class="reg-list-line-summary-cell"><%= registration_line_summary.instrument_name[0..11] %></td>
	<td style="width:60px" class="reg-list-line-summary-cell"><%= registration_line_summary.dorm ? "Y" : "N" %></td>
	<td style="width:60px" class="reg-list-line-summary-cell"><%= registration_line_summary.single_room ? "Y" : "N" %></td>
	<td style="width:60px" class="reg-list-line-summary-cell"><%= registration_line_summary.meals ? "Y" : "N" %></td>
	<td style="width:51px" class="reg-list-line-summary-cell"><%= registration_line_summary.firsttime ? "Y" : "N" %></td>
	<td style="width:55px" class="reg-list-line-summary-cell">
	  <%= registration_line_summary.deposit_date ? registration_line_summary.deposit_date.strftime("%m-%d") : "None" %></td>
	<td style="width:65px" class="reg-list-line-summary-cell"><%= number_to_currency(registration_line_summary.balance) %></td>
	<td style="width:65px" class="reg-list-line-summary-cell"><%= registration_line_summary.has_complete_eval ? "Y" : "N" %></td>
	<td class="reg-list-line-summary-cell">
		<%= link_to "VIEW", 
			{:controller => :registration, :action => :show, :id => registration_line_summary.user_id},
			 {:class => "reg-list-row-button"} %> 
	</td>
	<td class="reg-list-line-summary-cell">
    <% if registration_line_summary.ensemble_primary %>
      <%= link_to "EVAL", admin_report_path(registration_line_summary), {class: 'reg-list-row-button'} %>
    <% else %>
      <span class="reg-list-row-button"></span>
    <% end %>
	</td>
	<td class="reg-list-line-summary-cell">
		<%= link_to "EDIT", 
              {:controller => :registration, :action => :edit, :id => registration_line_summary.user_id},
              {:class => "reg-list-row-button"} %> 
	</td>
	<td class="reg-list-line-summary-cell">
		<%= link_to "PAYMENT",
					new_admin_registration_payment_path(registration_line_summary.id),
					{:class => "reg-list-row-button"} %>
	</td>
	<td class="reg-list-line-summary-cell">
    <% if registration_line_summary.payments.any? %>
      <%= link_to "EDIT PMNT", 
        edit_admin_registration_payment_path(registration_line_summary.id, registration_line_summary.payments.last),
        {:class => "reg-list-row-button"} %>
    <% else %>
    <span/>
    <% end %>
	</td>
	<td class="reg-list-line-summary-cell">
        <%= link_to "CANCEL",
            {:action => "cancel_registration", :id => registration_line_summary.id},
             :class => "reg-list-row-button",
             :data => {:confirm => "Confirm cancel for #{registration_line_summary.first_name} #{registration_line_summary.last_name}"}
        %>

	</td>
</tr>
