<div id="login-container">
  <fieldset>
    <legend>Password Change</legend>

    <% form_tag(:controller => :login, :action => :change_password) do %>
      <table width="85%" align="center">
      	<tr><td class="form-label"><label for="email">Email:</label></td>
      		<td><%= text_field_tag :email, params[:email] %></td>
      	</tr>
      	<tr><td class="form-label"><label for="old_password">Old Password:</label></td>
            <td><%= password_field_tag :old_password %></td>
        </tr>

        <tr><td class="form-label"><label for="new_password">New Password:</label></td>
		    <td><%= password_field_tag :new_password %></td>
        </tr>

        <tr><td class="form-label"><label for="confirm_new_password">Confirm New Password:</label></td>
			<td><%= password_field_tag :confirm_new_password %></td>
        </tr>
        <tr><td /><td><%= submit_tag "Change It" %></td>
        </tr>
       </table>
    <% end %>
  </fieldset>
</div>