<div id="main">
  <table id="admin-index-table">
    <tr>
      <td class="bordered">Download Payments file<%= button_to "GO", admin_payments_path(:txt), method: :get %></td>
    </tr>
    <tr>
      <td class="bordered">Download Registrations file<%= button_to "GO", admin_registrations_path(:txt), method: :get %></td>
    </tr>
  </table>

  Next download
  <ul>
    <li>Registrations, last download was <%= @registration_last_download %> and there 
      are <%= @registration_num_records_to_download %> records.</li>
    <li>Payments, last download was <%= @payment_last_download %> and there are <%= @payment_num_records_to_download %> records.</li>
  </ul>
</div>

