<div class="reg-form-charge-list">
<table>
  <%= render(:partial => "charge_item", :collection => cart.charge_items) %>
  <tr class="total-line">
    <td>Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total) %></td>
  </tr>
    <% if cart.display_cc && cart.credit_card_charge > 0 %>
     <tr class="total-line">
      <td>Credit Card Charge</td>
      <td class="total-cell"><%= number_to_currency(cart.credit_card_charge) %></td>
  </tr>
  <tr class="total-line">
      <td>Payment (due now)</td>
    <td class="total-cell">(<%= number_to_currency(cart.payment) %>)</td>
  </tr>
  <tr class="total-line">
    <td>Balance<br/> (due <%= RegDates.balance_due.strftime("%b %d, %Y") %>)</td>
    <td class="total-cell"><%= number_to_currency(cart.balance) %></td>
  </tr>
  <% end %>
</table>
</div>
