<div id="confirm-page">
  <div class="confirm-page-banner">Thank you for Registering for Midsummer Musical Retreat <%= Year.this_year %></div>
  <div class="confirm-page-email">A confirmation email has been sent to <%= @registration.email %></div>

  <div id="confirm-page-summary">
    <div class="confirm-page-text">Your Charge Summary</div>

    <div id="confirm-page-table">
      <table>
	<% for charge_item in @registration.cart.charge_items %>
	<% if charge_item.total != 0 %>
	<tr>
	  <td/>
	  <td class="confirm-item-name"><%= h(charge_item.name) %></td>
	  <td class="confirm-item-price"><%= number_to_currency(charge_item.total) %></td>
	</tr>
	<% end %>
	<% end %>
	<tr>
	  <td/>
	  <td class="confirm-total-label">Less Payment</td><td class="confirm-deposit-cell"><%= number_to_currency(-@cart.payment_net) %></td>
	</tr>
	<tr>
	  <td/>
	  <td class="confirm-total-label">Balance</td><td class="confirm-total-cell"><%= number_to_currency(@cart.balance) %></td>
	</tr>
      </table>
    </div>
  </div>

  <div id="confirm-page-continued">
    <span class="confirm-page-text">Next Steps</span>
    <ul>
      <li> If you did not pay online, please send deposit immediately to
	<div class="address">
	  Jessica Croysdale, MMR Registrar<br/>
	  5793 NW Central Dr. Apt B301<br/>
	  Portland, OR 97229 <br/>
	</div>
      </li>
      <li> Make check payable to <i>Midsummer Musical Retreat</i></li>
      <li> Registration is not considered complete until deposit is received.</li>
      <li> Balance is due by <%= RegDates.registration_balance_due %>, sent to same address or pay online.</li>
      <li> You can visit our <%= link_to 'our registration page', :action => :index %> to review and get current information about your registration</li>
      <li> If you have questions or need to give us more information about your registration
	<ul>
	  <li>send email to <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a> or </li>
	  <li>call us at 1-800-471-2419</li>
	</ul>
      </li>
    </ul>
  </div>

  <div id="confirm-page-continued">
    <center>
      <div class="confirm-link"> <%= link_to "Back to Registration Page", :action => :index %></div>
      <div class="confirm-link"> <%= link_to "Done - Log Me Out", :action => :done %></div>
    </center>
  </div>
</div>

