<div id="reg-index">

<!--  Banner -->
<table id="reg-index-table">
<tr>
     <% if @status == :open %>
      	<td width="60%" id="reg-index-banner">Welcome to MMR <%= Year.this_year %> Registration</td>
      <% elsif @status == :premature %>
      	<td width="60%" id="reg-index-banner">Registration for <%= Year.this_year %> Opens on January 1</td>
      <% else %>
      	 <td width="60%" id="reg-index-banner">
	   Registration for MMR <%= Year.this_year %> Registration is Closed! <br/>
	   Call 1-800-471-2419 for wait list or cancellation information.</td>
      <% end %>
	<td class="reg-index-email">
	   <% if @email %>(You are logged in as <%= @email %>)<% else %>(You are not logged in)<% end %>
	</td>
</tr>
</table>

<table id="reg-index-table">
<% if @status != :open %>
<%= render :partial => "index_closed" %>
<% elsif !@logged_in %>
<%= render :partial => "index_not_logged_in" %>
<% elsif !@registered %>
<%= render :partial => "index_not_registered" %>
<% else %>
<%= render :partial => "index_registered" %>
<% end %>
</table>

<!--  Footer -->
<table id="reg-index-table">
<tr>
  <td class="bordered" colspan="2">
  Please read information about 
    <a href="http://www.musicalretreat.org/registration-policy" target="_parent">registration policies</a>
        and 
    <a href="http://www.musicalretreat.org/fees" target="_parent">fees</a> prior to registering online.
  </td>
</tr>
</table>

</div>


