Dear <%= @name %>,

<p>We have received and recorded your payment of <%= number_to_currency(@payment.amount) %>.</p>

<% if @payment.check_number.size > 0 %>
<p>For your records, your check number was recorded as <%= @payment.check_number %>.</p>
<% end %>

<% if @payment.note.size > 0 %>
<p>The registrar recorded the following note with your payment:<br/>
	&nbsp;&nbsp;<%= @payment.note %></p>
<% end %>

<% if @payment.registration.balance <= 0 %>
<p>You are paid in full, and we look forward to seeing you at MMR <%= @year %>!</p>
<% elsif @payment.registration.deposit_complete? %>
<p>Since we have received your complete deposit, your balance of <%= number_to_currency(@payment.registration.balance) %>
is due no later than <%= RegDates.registration_balance_due %>.  We will send you a reminder notice shortly
before this deadline.</p>
<% else %>
<p>The balance of your deposit, <%= number_to_currency(@payment.registration.deposit_balance) %> is still due, and should be
sent to the following address as soon as possible:<br>
				<div class="address">
				  Jessica Stittsworth, MMR Registrar<br/>
				  15793 NW Central Dr. Apt B301<br/>
				  Portland, OR 97229<br/>
				</div>
</p>
<% end %>

<p>
You can visit our <a href="http://home.mmr-registration.org/registration"> our registration page</a>
to review and get current information about your registration
</p>

<p>If you have questions or need to give us more information
		about your registration
		<ul>
		<li>Send email to <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a> or </li>
		<li>Call us at 1-800-471-2419</li>
		</ul>
</p>
</div>
