<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

<p>
The Board and Staff of Midsummer Musical Retreat invite you to register online for MMR <%= @year %>. 
The system is designed to save paper and staff time.   We will be happy to help you through the process.  
Complete details about the program and faculty are on our website.
</p>

<p>
A link to our registration page is on our website home page <a href="http://www.musicalretreat.org">www.musicalretreat.org</a>.</p>

<p>
Emails will be sent to you from <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a>.
Please set your email filter to accept this address.
</p>

<p>
You will log on to our site using:
<ul>
<li> Email address:  <%= @email %></li>
<li> Password:  <%= @password %></li>
</ul>
You can change your password on the web site.
You will need to keep track of your email and password to access your account information online.
</p>

<p>
Registration will be open from January 15 to February 28, <%= @year %>.
</p>

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a>  (Jessica)   or call 1-800-471-2419 between 9AM and 9PM PST</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

