<p>
Dear <%= @name %>
</p>

We are almost ready for MMR <%= Year.this_year %>

<ul>

<% if @balance > 0 %>
<li>You have an outstanding balance of <%= number_to_currency(@balance) %>. Please bring payment in cash, check or
credit card to check-in at Whitman.</li>
<% else %>
<li>You have no outstanding balance.  Thanks!</li>
<% end %>

<% if @registration.dorm_selection == "n" %>
<li>You have selected off-campus housing</li>
<% else %>
<li>Your dorm assignment is <b><%= @registration.dorm_assignment %></b>.
  <ul>
    <li>You may move in to your dorm after 2PM on <%= @movein %></li>
    <li>Room keys will be in the lobby of your dorm</li>
   <li> Remember to bring a fan if you are in Douglas or College House</li>
 </ul>
</li>
<% end %>

<li> Here is a <a href="https://www.whitman.edu/Documents/Campus-Map-2013.pdf">Whitman campus map</a></li>

<% if @registration.meals_selection == "f" %>
<li>You have opted for <b>breakfast lunch and dinner meal plan</b>. The first meal is dinner on 
<%= @movein %> at 6pm.</li>
<% elsif @registration.meals_selection == "l" %>
<li>You have opted for <b>lunch and dinner only</b> meal plan. The first meal is dinner 
<%= @movein %> at 6pm.</li>
<% else %>
<li>You have opted for no meal plan. </li>
<% end %>

<li>Be sure to let me know flight information if you are flying to Walla Walla. We will arrange
ground transportation.
</li>

<li>We have created carpool sign-up sheets at <a href="https://www.prepatrip.com/">Prep.a.trip</a>
<ul> 
<li>For Seattle to Walla Walla use this link <a href="http://www.groupcarpool.com/t/odxzkg">http://www.groupcarpool.com/t/odxzkg</a>
</li>
<li>For Portland to Walla Walla use this link <a href="http://www.groupcarpool.com/t/70wp4a">http://www.groupcarpool.com/t/70wp4a</a>
</li>
</ul>
</li>

<li>Please read and keep the final Newsletter.  It will be sent to you via postal mail, 
or you can view it <a href="http://www.musicalretreat.org/sites/default/files/MMR%20spring%20news%203.17.17.pdf">here</a>.
</li>

<li>MMR Check-In will be in Reid Campus Center 2 to 7 PM <%= @movein %>.</li>
</ul>

<p>
Jessica Stittsworth<br/>
<a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a><br/>
(800)471-2419
</p>
