<table>
  <tr><td><%= form.label :jazz_want_ensemble, 'Would you like to play in a jazz ensemble or big band?' %></td><td><%= form.check_box :jazz_want_ensemble %></td></tr>
  <tr><td><%= form.label :jazz_small_ensemble, 'Have you played in a small jazz ensemble?' %></td><td><%= form.check_box :jazz_small_ensemble %></td></tr>
  <tr><td><%= form.label :jazz_big_band, 'Have you played in a Big Band?' %></td><td><%= form.check_box :jazz_big_band %></tr>
</table>
