<b>MMR-Arranged Chamber Group</b>
<p>
What instrument will you be playing in this group?<br>
<%= mmr_chamber.select :instrument_id, @instrument_menu_selection, :selected => @ensemble_primary.registration.instrument_id %>
</p>

<!---------------------------------->
<p>
<i>The following text and check box should only appear if the instrument selection above is 
a jazz instrument as defined by anInstrument.jazz? and should change as the value for @instrument_menu_selection changes</i>
</p>

<p>
MMR now has a collection of Jazz scores for various ensembles including some with non-standard instrumentation. We also have two outstanding Jazz performers and teachers on the faculty.
</p>

<if
<p>
I am interested in a small Jazz Ensemble or Combo
<table>
<tr><td>No</td><td>Yes</td></tr>
<tr><td><%= mmr_chamber.radio_button :jazz_ensemble, false, {:checked => true} %></td>
    <td><%= mmr_chamber.radio_button :jazz_ensemble, true %></td>
</tr>
</table>

</p>
<!---------------------------------->
<p>
<i>The following should only appear if the instrument selection above is 
a string instrument as defined by anInstrument.string? and should change as the value for @instrument_menu_selection changes</i>
</p>

<p>
I am a Beginner or Novice with string chamber music and would like to be 
assigned to a Chamber Ensemble with more than one player on a part. 
<table>
<tr><td>No</td><td>Yes</td></tr>
<tr><td><%= mmr_chamber.radio_button :string_novice, false, {:checked => true} %></td>
    <td><%= mmr_chamber.radio_button :string_novice, true %></td>
</tr>
</table>

<!---------------------------------->
<p>
Other comments, questions, or requests:
<br>
<%= mmr_chamber.text_area :notes, :rows => 5, :columns => 80 %>

<!---------------------------------->

<hr>

