<table class ='eval-table'>
  <tr><th colspan="4">Sightreading ability</th></tr>
  <tr>
    <td>Poor</td>
    <td>Average</td>
    <td>Good</td>
    <td>Excellent</td>
  </tr>
  <tr>
    <td><%= form.radio_button :overall_rating_sightreading, 0, {:checked => true} %></td>
    <td><%= form.radio_button :overall_rating_sightreading, 1 %></td>
    <td><%= form.radio_button :overall_rating_sightreading, 2 %></td>
    <td><%= form.radio_button :overall_rating_sightreading, 3 %></td>
  </tr>
</table>

<div class='indented-top overall-rating'>
  <table>
    <tr>
      <td>
        <% unless instrument.vocal? %>
	<table class='eval-table'>
          <tr><th colspan="5">Rate your ability in chamber music</th></tr>
            <tr>
               <td class='beginner'>Beginner</td>
               <td class='novice'>Novice</td>
               <td class='intermediate'>Intermediate</td>
               <td class='experienced'>Experienced</td>
               <td class='advanced'>Advanced</td>
            </tr>
            <tr>
              <td class='beginner'><%= form.radio_button :overall_rating_chamber, 0, {:checked => true} %></td>
              <td class='novice'><%= form.radio_button :overall_rating_chamber, 1 %></td>
              <td class='intermediate'><%= form.radio_button :overall_rating_chamber, 2 %></td>
              <td class='experienced'><%= form.radio_button :overall_rating_chamber, 3 %></td>
              <td class='advanced'><%= form.radio_button :overall_rating_chamber, 4 %></td>
            </tr>
        </table>
        <% end %>

        <% unless (instrument.piano? || instrument.vocal?) %>
          <%= form.label :overall_rating_chamber, 'Large Ensemble (Band, Orchestra, Chorus)' %>
          <table width='100%'>
            <tr>
               <td class='beginner'>Beginner</td>
               <td class='novice'>Novice</td>
               <td class='intermediate'>Intermediate</td>
               <td class='experienced'>Experienced</td>
               <td class='advanced'>Advanced</td>
            </tr>
            <tr>
              <td class='beginner'><%= form.radio_button :overall_rating_large_ensemble, 0 %></td>
              <td class='novice'><%= form.radio_button :overall_rating_large_ensemble, 1 %></td>
              <td class='intermediate'><%= form.radio_button :overall_rating_large_ensemble, 2 %></td>
              <td class='experienced'><%= form.radio_button :overall_rating_large_ensemble, 3 %></td>
              <td class='advanced'><%= form.radio_button :overall_rating_large_ensemble, 4 %></td>
            </tr>
          </table>
        <% end %>
      </td>
      <td class='skill-description'>

        <p class='hidden beginner-text'><b>Beginer:</b> You have been playing for more than 2 or 3 years and know the basics, but have only just begun playing with others.</p>
        <p class='hidden novice-text'><b>Novice:</b> You play a repertoire carefully chosen to be within your technical limitations.  On first reading of a chamber music piece, you aim to get through the music and end together without too many stops and starts in between.</p>
        <p class='hidden intermediate-text'><b>Intermediate:</b> You are in the process of exploring the standard repertoire, perhaps avoiding works that are too technically challenging.  You concentrate on not making major mistakes while reading an unfamiliar part.  You are aware of what others are doing.  You often slow down a fast movement for technical reasons.</p>
        <p class='hidden experienced-text'><b>Experienced:</b> You are familiar with portions of the standard repertoire.  You play in tune and at tempo after a reading or two.  You generally sound good on your instrument, and sight reading is not a problem.  You are attentive to all markings in the score.  You pay attention to blend, balance, dynamics, style, and basic phrasing on a first reading.  If you make a mistake, you can usually get back in without stopping.</p>
        <p class='hidden advanced-text'><b>Advanced:</b> You have been actively playing your instrument for many years and have performed with advanced groups (e.g. college groups, audition-only groups).  You know much of the standard repertoire.  If your partners make a mistake, you can often bring them back in without stopping.  You consistently sound excellent on your instrument and aim for cohesive musical expressiveness with attention to fine detail on a first reading.</p>

      </td>
    </tr>
  </table>
</div>
