<div id="main">
<%= render :partial => 'shared/errors', locals: { subject: @ensemble_primary } %>
<div id="reg-form-main" class="larger-font">
<%= form_for @ensemble_primary, url: wizard_path, method: :put do |form| %>
<table width="100%">
  <tr class="reg-form-section-title">
    <td>
      Afternoon Ensembles and Electives
    </td>
  </tr>

<tr>
  <td class="reg-form-column">
<p>
During the afternoon, MMR singers and instrumentalists participate in a variety of 
ensembles and elective classes that provide an opportunity for campers to 
shift and expand their musical focus. These ensembles and electives will meet once each day for one hour. 
Campers who come with a pre-arranged ensemble are guaranteed the 
opportunity to be coached together and may choose either one 
or two sessions of coaching. Those coming independently will 
be assigned to ensembles using the information on the self-evaluation. 
Most electives are scheduled in only one session each afternoon 
and may conflict with each other or with assigned ensembles. 
</p>
<p>
Please Keep in Mind:
</p>
<ul>
<liThere are three sessions each afternoon for ensembles, electives and free time</li>
<li>A typical afternoon program would be one or two ensembles and one elective or free time. 
Two electives and an ensemble or free time are also possible</li>
<li>Requests for a second ensemble or elective will be filled only if faculty and other players are available</li>
<li>You may request MMR assigned ensembles as either a singer or instrumentalist regardless of your 
     primary instrument.  For example, if you are want two ensembles, one on cello and one as a soprano, 
     select <b>Two MMR Arranged Chamber Ensembles</b> from the drop-down menu below. 
     You will designate your voice or instrument for each ensemble separately and complete self-evaluations 
     for each on the next pages. </li>
<liLate registrants and those who do not complete this form before June 1st are not guaranteed an ensemble</li>
</ul>
  </td>
</tr>
  <%= form.hidden_field :chamber_ensemble_choice, value: 0 %>

  <tr class="reg-form-section-title">
    <td>
      Afternoon Ensemble Preferences
    </td>
  </tr>
  <tr><td height="20"></td></tr>
  <tr>
    <table style="margin-left:auto; margin-right:auto">
      <tr>
        <td style="text-align:center"><b>MMR Arranged Chamber Ensembles</b></td>
	<td width="10"></td>
	<td style="text-align:center"><b>Prearranged Groups</b></td>
      </tr>
      <tr>
	<td style="text-align:center"><%= form.select :choosed_assigned_ensembles, MmrChamber.ensemble_options, {}, { class: 'ensembles_select' } %></td>
	<td width="20"></td>
	<td style="text-align:center"><%= form.select :choosed_prearranged_ensembles, PrearrangedChamber.ensemble_options, {}, { class: 'ensembles_select' } %></td>
      </tr>
    </table>
  </tr>
</table>

<p><center><%= submit_tag "Next" %></center></p>
<% end %>
</div>
</div>
