<div id="main">
<%= render :partial => 'shared/errors', locals: { subject: @ensemble_primary } %>
<div id="reg-form-main">
<table width="100%">
  <tr class="reg-form-section-title">
    <td>
      Elective Preferences
    </td>
  </tr>

  <tr>
    <td class="reg-form-column">
<p>
In this section you will rank your elective choices from 1 to 5.  This is a ranking
for electives only.  Your chamber selections will be prioritized higher than electives
unless you tell us otherwise (use the comments box on the Summary page to do so).
You must make at least one and at most five choices.   In some cases you must also choose which
voice/instrument you want for the elective.
</p>

<p>Hover over elective name for more information.  Drag your selection from &quot;Available&quot; to &quot;Chosen&quot</p>
</td>
</tr>
<tr>
<td>

<%= form_for @ensemble_primary, url: wizard_path, method: :put do |f|%>
<div class='float-right two-third-column indented-top'>
  <div class='reg-form-section-title'>
    Elective Choices (Highest to Lowest Priority)
  </div>
  <div class='with-background'>
    <ul id='choosen-electives' class='sortable-electives'>
      <% if @ensemble_primary.ensemble_primary_elective_ranks.empty? %>
      <li class='placeholder'>Drop here</li>
    <% else %>
      <li class='placeholder hidden'>Drop here</li>
    <% f.object.ensemble_primary_elective_ranks.each do |elective_choice| %>
      <%= render partial: 'ensemble_primary_elective_rank', locals: { f: f, elective_choice: elective_choice, disabled: false } %>
    <% end %>
  <% end %>
    </ul>
    <%= submit_tag 'Submit' %>
  </div>
  <div id='info-box' class='indented-top hidden'>
    <div class='name reg-form-section-title'></div>
    <div class='with-background description'></div>
  </div>
</div>
<div class='float-left one-third-column indented-top'>
<div class='reg-form-section-title'>Available Electives</div>
<div class='with-background'>
  <ul id='aviliable-electives' class='sortable-electives'>
    <% f.object.build_ensemble_primary_elective_ranks.each do |elective_choice| %>
      <%= render partial: 'ensemble_primary_elective_rank', locals: { f: f, elective_choice: elective_choice, disabled: true } %>
    <% end %>
    </ul>
  </div>
</div>
  <% end %>
</td>
</tr>
</table>
</div>
</div>
