<h2>Ensemble Preferences Summary</h2>

Thank you;  your ensemble preferences are complete
<ul>
<li>Contact Information
    <ul>
      <li>Name:  <%= @ensemble_primary.registration.display_name %></li>
      <li>Email: <%= @ensemble_primary.registration.email %>
    </ul>
<li>Morning Ensemble
  <%= render :partial => "summary_morning_ensemble", :locals => {:ensemble_primary => @ensemble_primary} %>
<li>Chamber Groups
  <%= render :partial => "summary_chamber_groups", :locals => {:ensemble_primary => @ensemble_primary} %>
<li>Electives
  <%= render :partial => "summary_electives", :locals => {:ensemble_primary => @ensemble_primary} %>
<li>Evaluations
  <%= render :partial => "summary_evaluations", :locals => {:ensemble_primary => @ensemble_primary} %>
</ul>

<center>
<table width="75%">
  <tr><td width="50%"> <%= button_to "DONE", {:controller => :registration, :action => :index} %></td>
      <td width="50%"> <%= button_to "CANCEL", {:action => :cancel} %></td>
  </tr>
</table>
</center>


