<% @balance = @ensemble_primary.registration.balance %>
<div id="main">
  <%= render partial: 'shared/errors', locals: { subject: @ensemble_primary } %>
  <div id="reg-form-main" class='larger-font elective-evaluations'>
    <table width="100%">
      <tr class="reg-form-section-title">
        <td>
          Ensemble Preferences Summary
        </td>
      </tr>
      <tr>
        <td class="reg-form-column">
          <p>Thank you;  your ensemble and elective preferences and self-evaluations are complete</p>
          <ul>
          <li>Contact Information
              <ul>
                <li>Name:  <%= @ensemble_primary.registration.display_name %></li>
                <li>Email: <%= @ensemble_primary.registration.email %></li>
              </ul>
              <li>
                Morning Ensemble
                <%= render partial: "summary_morning_ensemble", locals: {ensemble_primary: @ensemble_primary} %>
              </li>
              <li>
                Afternoon Groups
                <%= render partial: "summary_chamber_groups", locals: {ensemble_primary: @ensemble_primary} %>
              </li>
              <li>
                You selected the following electives
                <%= render partial: "summary_electives", locals: {ensemble_primary: @ensemble_primary} %>
              </li>
              <li>
                You completed evaluations for the following instruments/voices
                <%= render partial: "summary_evaluations", locals: {ensemble_primary: @ensemble_primary} %>
              </li>
          </ul>
          <%= form_for @ensemble_primary, {url: {controller: :ensembles, action: :finish}, method: :put} do |form| %>
            <%= form.label :comments, 'Any questions or comments to help us with your selections?' %>
            <br />
            <%= form.text_area :comments, cols: 60, rows: 5 %>

          <p>
          To finish the process, please read and acknowledge the
          <%= link_to 'MMR Waiver and Release', '/terms/Release2017.pdf', target: :blank %>
	  </p>
          <p>
          I have read and acknowlege the Waiver and Release &nbsp;&nbsp;&nbsp
          <%= check_box_tag :terms %>
          </p>
	  <p>
	    <% if (@balance == 0.0) %>
              <%= You are paid up -- good job! %>
            <% else %>
              <%= You have a balance of #{number_to_currency(@balance)}.  Pay it by June 1! %>
            <% end %>
          </p>
	  <p>
	    After you push the FINISH button you will not be able to edit your choices, but you will be able to view your self-evaluation / ensemble forms and start over.
	    </p>

          <table width="75%">
            <tr>
              <td width="50%"><%= submit_tag "FINISH", {class: 'submit-ensemble', disabled: true} %></td>
              <td width="50%"><%= submit_tag "CANCEL" %></td>
            </tr>
          </table>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
