<% es = evaluation_summary;  ep = es.ensemble_primary %>

<table width="100%" class="admin-reports admin-reports-show space-below border-below">
  <tr class="reg-form-section-title">
    <td>
      Self Evaluation / <%= ep.display_name %> / <%= es.instrument.display_name %>
    </td>
  </tr>
<tr><td>
<ul>

<li>Contact Info: <%= ep.display_name %>, <%= ep.email %>, <%= number_to_phone(ep.phone_number) %></li>

<!-- composers -->
<% if es.composers %>
<li>Favorite composers and pieces for practice <div class="eval-report-comment-box"><%= es.composers %></div></li>
<% end %>

<!-- chamber_ensemble_part -->
<% if es.chamber_ensemble_part %>
<li>Chamber music part preference: <%= es.radio_button_text(:chamber_ensemble_part) %></li>
<% end %>


</ul>
</td></tr>
</table>
