<table width="100%" class="admin-reports admin-reports-show space-below border-below">
  <tr class="reg-form-section-title">
    <td>
      Self Evaluation / <%= ep.display_name %> / <%= es.instrument.display_name %>
    </td>
  </tr>
<tr><td>
<ul>
<li>Contact Info: <%= ep.display_name %>, <%= ep.email %>, <%= number_to_phone(ep.primary_phone) %></li>
</ul>
</td></tr>
</table>
