<% es = evaluation_summary;  ep = es.ensemble_primary %>

<table width="100%" class="admin-reports admin-reports-show space-below border-below">
  <tr class="reg-form-section-title">
    <td>
      Self Evaluation / <%= ep.display_name %> / <%= es.instrument.display_name %>
    </td>
  </tr>
<tr><td>
<ul>

<li>Contact Info: <%= ep.display_name %>, <%= ep.email %>, <%= number_to_phone(ep.phone_number) %></li>

<!-- composers -->
<% unless es.composers.blank? %>
<li>Favorite composers and pieces for practice <div class="eval-report-comment-box"><%= es.composers %></div></li>
<% end %>

<!-- chamber_ensemble_part -->
<% unless es.chamber_ensemble_part.blank? %>
<li>Chamber music part preference: <%= es.radio_button_text(:chamber_ensemble_part) %></li>
<% end %>

<!-- groups -->
<% unless es.groups.blank? %>
<li>Groups (audition <% if es.require_audition %>yes<% else %>no<% end %>)
   <div class="eval-report-comment-box"><%= es.groups %></div>
</li>
<% end %>

<!-- transposition -->
<% unless es.text_for(:transposition).blank? %>
<li>Transposition: <%= es.text_for(:transposition) %></li>
<% end %>

<!-- practice_frequency -->
<li>Practice Frequency: <%= es.radio_button_text(:practicing_how_much) %></li>

<!-- private_study -->
<li>Private Study: <% if es.studying_privately %>Yes<% else %>No<% end %> 
  <% unless es.studying_privately_how_long.blank? %>(<%= es.studying_privately_how_long %>)<% end %></li>

<!-- chamber_frequency -->
<% unless es.radio_button_text(:chamber_music_how_often).blank? %>
<li>Chamber music frequency: <%= es.radio_button_text(:chamber_music_how_often) %></li>
<% end %>


</ul>
</td></tr>
</table>
