<table width="100%" style="border: 3px solid black;">
  <tr class="reg-form-section-title">
    <td>Elective report</td>
  </tr>
  <tr>
    <td>
      <p>Elective name: <%= @elective.name  %></p>
      <p>Elective instructor: <%= @elective.instructor %></p>
      <ul>
        <% @ensemble_primaries.each do |ensemble_primary|%>
          <li>
            <%= ensemble_primary.registration.display_name %>
            <%= mail_to ensemble_primary.registration.email %>
            <%= "(#{ensemble_primary.instrument_for_elective(@elective).display_name})" if ensemble_primary.instrument_for_elective(@elective) %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<% @ensemble_primaries.each do |ensemble_primary| %>
  <div style="border:5px solid black; margin: 10px;">
  <%= render template: 'admin/reports/show', locals: { ensemble_primary: ensemble_primary, registration: ensemble_primary.registration } %>
  </div>
<% end %>
