<table width="100%" class="admin-reports admin-reports-chose">
  <tr class="reg-form-section-title">
    <td>Individuals whose primary instrument/voice is <%= params[:type] %></td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @primary_registrations.each do |registration|%>
          <li>
            <%= registration.display_name %>
            <%= mail_to registration.email %>
            (<%= registration.instrument_name %>)
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr class="reg-form-section-title">
    <td>Individuals with a secondary instrument/voice of <%= params[:type] %></td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @secondary_registrations.each do |registration|%>
          <li>
            <%= registration.display_name %>
            <%= mail_to registration.email %>
            (<%= registration.ensemble_primary
              .secondary_instruments_of_type(params[:type])
              .map(&:display_name).join(', ') + "; Primarily " + registration.instrument.display_name %>)
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<% @concantated_registrations.each do |registration| %>
  <div style="border:5px solid black; margin: 10px;">
       <%= render template: 'admin/reports/show', locals: { ensemble_primary: registration.ensemble_primary, registration: registration } %>
  </div>
<% end %>
