<table width="100%" class="admin-reports admin-reports-show">
  <tr class="reg-form-section-title">
    <td>
      Ensembles &amp; Self-Eval &mdash; <%= ensemble_primary.display_name %> / <%= ensemble_primary.primary_instrument_name %>
    </td>
  </tr>
  <tr>
    <td class="reg-form-column">
      <ul>
        <li>Name: <%= ensemble_primary.display_name %></li>
        <li>Email: <%= ensemble_primary.email %></li>
        <li>Phone number: <%= number_to_phone(ensemble_primary.phone_number) %></li>
        <li>Primary Instrument: <%= ensemble_primary.primary_instrument_name %></li>
	<li>Other Instruments: <%= ensemble_primary.secondary_instruments.map(&:display_name).join(", ") %></li>

	<li>Morning Ensemble Preference: <%= ensemble_primary.text_for(:large_ensemble_choice) %>
	  <% if ensemble_primary.text_for(:large_ensemble_part) || ensemble_primary.text_for(:large_ensemble_alternative) %> 
	     <ul> 
	       <% if ensemble_primary.text_for(:large_ensemble_part) %>        <li>Part preference: <%= ensemble_primary.text_for(:large_ensemble_part)%></li>       <% end %>
               <% if ensemble_primary.text_for(:large_ensemble_alternative) %> <li><%= ensemble_primary.text_for(:large_ensemble_alternative)%></li><% end %>
             </ul>
          <% end %>
	<li>Afternoon Ensemble Preference: <%= ensemble_primary.text_for(:chamber_ensemble_choice) %>
	<li>Elective Preferences:
	  <ol>
	    <% ensemble_primary.ensemble_primary_elective_ranks.order(:rank).each do |er| %>
	    <li> <%= er.elective.name %> <% if er.instrument %> (on <%= er.instrument.display_name %>) <% end %></li>
	    <% end %>
	  </ol>
	</li>
	<li>Afternoon Ensemble Details
	  <ul>
	    <%= render :partial => "mmr_chamber_summary", :collection => ensemble_primary.mmr_chambers %>
	    <%= render :partial => "prearranged_chamber_summary", :collection => ensemble_primary.prearranged_chambers %>
	  </ul>
	</li>
      </ul>
    </td>
  </tr>

  <!-------------------------------------------------------------------------------------->

  
</table>
