<% if registration.ensemble_primary %>
<%= form_for registration.ensemble_primary, url: '' do |form| %>
<table width="100%" class="admin-reports admin-reports-show">
  <tr class="reg-form-section-title">
    <td>
      Overview Section
    </td>
  </tr>
  <tr>
    <td class="reg-form-column">
      <ul>
        <li>
          Name: <%= registration.display_name %>
        </li>
        <li>
          Email: <%= registration.email %>
        </li>
        <li>
          Primary phone number: <%= registration.phone %>
        </li>
        <li>
          Instrument: <%= registration.instrument_name %>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="reg-form-section-title">
    <td>
      Morning Ensemble Section
    </td>
  </tr>
  <tr>
    <td class="reg-form-column">
      <%= render partial: 'ensembles/morning_ensemble', locals: {ensemble_primary: registration.ensemble_primary, form: form} %>
    </td>
  </tr>
  <tr class="reg-form-section-title">
    <td>
      Afternoon Ensemble Section
    </td>
  </tr>
  <tr>
    <td class="reg-form-column">
      <%= registration.ensemble_primary.text_for_chamber_ensemble_choice %>
       <%= form.fields_for :prearranged_chambers do |prearranged_chamber| %>
         <%= render :partial => "ensemble_steps/prearranged_chamber", locals: { prearranged_chamber: prearranged_chamber, ensemble_primary: registration.ensemble_primary } %>
       <% end %>
       <%= form.fields_for :mmr_chambers do |mmr_chamber| %>
         <%= render :partial => "ensemble_steps/mmr_chamber", locals: { mmr_chamber: mmr_chamber, ensemble_primary: registration.ensemble_primary } %>
       <% end %>

    </td>
    </tr>
    <tr class="reg-form-section-title">
      <td>
        Elective Section
      </td>
    </tr>
    <tr>
      <td class="reg-form-column">
        <ol>
          <% registration.ensemble_primary.ensemble_primary_elective_ranks.by_rank.each do |ensebmles_evaluation| %>
            <li>
              <%= ensebmles_evaluation.elective.name %>
              <% if ensebmles_evaluation.instrument %>
                (<%= ensebmles_evaluation.instrument.display_name %>)
              <% end %>
            </li>
          <% end %>
        </ol>
      </td>
    </tr>
    <tr class="reg-form-section-title">
      <td>
        Evaluation Section
      </td>
    </tr>
    <tr>
      <td class='reg-form-column'>
      <%= form.fields_for :evaluations do |ff| %>
        <%= render partial: "ensemble_steps/#{ff.object.partial_name}", locals: { form: ff, instrument: ff.object.instrument } %>
      <% end %>
      </td>
    </tr>
</table>
<% end %>
<% end %>
