<div id="admin-container">
  <fieldset>
    <legend>Change Email</legend>

    <%= form_tag(:controller => :login, :action => :change_email) do %>
      <table width="85%" align="center">
      	<tr><td class="form-label"><label for="email">Old Email:</label></td>
      		<td><%= text_field_tag :old_email, params[:old_email] %></td>
      	</tr>

        <tr><td class="form-label"><label for="new_email">New Email:</label></td>
		    <td><%= text_field_tag :new_email, params[:new_email] %></td>
        </tr>

        <tr><td class="form-label"><label for="new_email_confirm">Confirm New Email:</label></td>
			<td><%= text_field_tag :new_email_confirm, params[:new_email_confirm] %></td>
        </tr>
        <tr><td /><td><%= submit_tag "Change It" %></td>
        </tr>
       </table>
    <% end %>
  </fieldset>
</div>
