Chamber Music:
<table>
<tr><td>Beginner</td></td><td>Novice</td><td>Intermediate</td><td>Experienced</td><td>Advanced</td></tr>
<tr>
<td><%= form.radio_button :overall_rating_chamber, 0 %></td>
<td><%= form.radio_button :overall_rating_chamber, 1 %></td>
<td><%= form.radio_button :overall_rating_chamber, 2 %></td>
<td><%= form.radio_button :overall_rating_chamber, 3 %></td>
<td><%= form.radio_button :overall_rating_chamber, 4 %></td>
</tr>
</table>

Band or Orchestra:
<table>
<tr><td>Beginner</td></td><td>Novice</td><td>Intermediate</td><td>Experienced</td><td>Advanced</td></tr>
<tr>
<td><%= form.radio_button :overall_rating_large_ensemble, 0 %></td>
<td><%= form.radio_button :overall_rating_large_ensemble, 1 %></td>
<td><%= form.radio_button :overall_rating_large_ensemble, 2 %></td>
<td><%= form.radio_button :overall_rating_large_ensemble, 3 %></td>
<td><%= form.radio_button :overall_rating_large_ensemble, 4 %></td>
</tr>
</table>


Sightreading:
<tr><td>Beginner</td><td>Novice</td><td>Intermediate</td><td>Experienced</td><td>Advanced</td></tr>
<tr>
<td><%= form.radio_button :overall_rating_sightreading, 0 %></td>
<td><%= form.radio_button :overall_rating_sightreading, 1 %></td>
<td><%= form.radio_button :overall_rating_sightreading, 2 %></td>
<td><%= form.radio_button :overall_rating_sightreading, 3 %></td>
<td><%= form.radio_button :overall_rating_sightreading, 4 %></td>
</tr>
</table>

