<% if instrument.string? && !instrument.piano? %>

<p>
What part would you prefer to play in the orchestra? &nbsp;&nbsp;&nbsp;
First&nbsp;&nbsp;<%= form.radio_button :large_ensemble_part, 1 %>&nbsp;&nbsp;
Second&nbsp;&nbsp;<%= form.radio_button :large_ensemble_part, 2 %>&nbsp;&nbsp;
No Preference&nbsp;&nbsp;<%= form.radio_button :large_ensemble_part, 0, {:checked => true} %>&nbsp;&nbsp;
</p>
<% elsif  instrument.flute? %>

<p>
Please indicate your seating preference for Symphonic Band &nbsp;&nbsp;&nbsp;
First Flute <%= form.radio_button :large_ensemble_part, 1 %>&nbsp;&nbsp;&nbsp;
Second Flute <%= form.radio_button :large_ensemble_part, 2 %>&nbsp;&nbsp;&nbsp;
Piccolo <%= form.radio_button :large_ensemble_part, 10 %>&nbsp;&nbsp;&nbsp;
No Preference&nbsp;&nbsp;<%= form.radio_button :large_ensemble_part, 0, {:checked => true} %>&nbsp;&nbsp;
</p>

<% elsif  instrument.clarinet? %>
<p>
Please indicate your seating preference for Symphonic Band:
</p>

<table>
<tr><td>No Preference</td><td>First</td><td>Second</td><td>Third</td></tr>
<tr>
  <td><%= form.radio_button :large_ensemble_part, 0 %></td>
  <td><%= form.radio_button :large_ensemble_part, 1 %></td>
  <td><%= form.radio_button :large_ensemble_part, 2 %></td>
  <td><%= form.radio_button :large_ensemble_part, 3 %></td>
</tr>
</table>

<% elsif  instrument.saxophone_nonspecific? %>
<p>
Please indicate your preferred saxophone voice for Symphonic Band:
</p>

<table>
<tr><td>Soprano</td><td>Alto</td><td>Tenor</td><td>Baritone</td></tr>
<tr>
  <td><%= form.radio_button :large_ensemble_part, 100 %></td>
  <td><%= form.radio_button :large_ensemble_part, 101 %></td>
  <td><%= form.radio_button :large_ensemble_part, 102 %></td>
  <td><%= form.radio_button :large_ensemble_part, 103 %></td>
</tr>
</table>
<% end %>

