<% if instrument.string? %>
What part would you prefer to play in the orchestra?
<table>
<tr><td>First</td><td>Second</td></tr>
<tr><td><%= form.radio_button :large_ensemble_part, 0 %></td>
    <td><%= form.radio_button :large_ensemble_part, 1 %></td>
</tr>

<% elsif  instrument.flute? %>
Please indicate your seating preference for Symphonic Band
<table>
<tr><td>First</td><td>Second</td><td>Piccolo</td></tr>
<tr><td><%= form.radio_button :large_ensemble_part, 0 %></td>
    <td><%= form.radio_button :large_ensemble_part, 1%></td>
    <td><%= form.radio_button :large_ensemble_part, 10 %></td>
</tr>
</table>

<% elsif  instrument.clarinet? %>
Please indicate your seating preference for Symphonic Band:
<table>
<tr><td>First</td><td>Second</td><td>Third</td></tr>
<tr><td><%= form.radio_button :large_ensemble_part, 0 %></td>
  <td><%= form.radio_button :large_ensemble_part,  1%></td>
  <td><%= form.radio_button :large_ensemble_part, 2 %></td>
</tr>
</table>

<% elsif  instrument.saxophone_nonspecific? %>
Please indicate your preferred saxophone voice for Symphonic Band:
<table>
<tr><td>Soprano</td><td>Alto</td><td>Tenor</td><td>Baritone</td></tr>
<tr>
  <td><%= form.radio_button :large_ensemble_part, 100 %></td>
  <td><%= form.radio_button :large_ensemble_part, 101 %></td>
  <td><%= form.radio_button :large_ensemble_part, 102 %></td>
  <td><%= form.radio_button :large_ensemble_part, 103 %></td>
</tr>
</table>
<% end %>

