<p><%= render :partial => "contact_info", :locals => {:instrument => instrument, :form => form} %></p>
<p><%= render :partial => "groups", :locals => {:instrument => instrument, :form => form} %></p>
<p><%= render :partial => "practice_frequency", :locals => {:instrument => instrument, :form => form} %></p>
<p><%= render :partial => "private_study", :locals => {:instrument => instrument, :form => form} %></p>
<p><%= render :partial => "jazz_experience", :locals => {:instrument => instrument, :form => form} %></p>

<p>
<!-- percussion instruments -->
<table>
<tr><td>Snare</td><td>Timpani</td><td>Mallets</td><td>Small Instruments</td><td>Drumset</td></tr>
<tr>
    <td><%= form.check_box :percussion_snare %></td>
    <td><%= form.check_box :percussion_timpani %></td>
    <td><%= form.check_box :percussion_mallets %></td>
    <td><%= form.check_box :percussion_small_instruments %></td>
    <td><%= form.check_box :percussion_drum_set %></td>
</tr>
</table>
Please bring Mallets listed <a href="http://musicalretreat.org/mallet-list-percussion-players">here</a>
</p>

<p><%= render :partial => "overall_assessment", :locals => {:instrument => instrument, :form => form} %></p>

<p><%= render :partial => "extra_instruments", :locals => {:instrument => instrument, :form => form} %></p>


