<b>Prearranged Chamber</b>
<ul>
<li>I am the contact person for this ensemble &nbsp;&nbsp;
    <%= prearranged_chamber.radio_button :i_am_contact, false, {:checked => true} %> &nbsp;&nbsp; No &nbsp;&nbsp;
    <%= prearranged_chamber.radio_button :i_am_contact, true %> &nbsp;&nbsp; Yes &nbsp;&nbsp;
<li> I am playing this instrument in the ensemble: &nbsp;&nbsp
    <%= prearranged_chamber.select :instrument_id, @instrument_menu_selection, :selected => @ensemble_primary.registration.instrument_id %>
<li> <i>The next item should be visible only if the user checks NO to "I am contact"</i>
<li> Contact person name: &nbsp;&nbsp <%= prearranged_chamber.text_field :contact_name, :size => 20 %>
<li> Contact person email: &nbsp;&nbsp <%= prearranged_chamber.text_field :contact_email, :size => 20 %>
<li> <i>The rest of the fields should be visible only if the user checks YES to "I am contact"</i>
<li> Names and instruments of other participants: <br> <%= prearranged_chamber.text_area :participant_names, :rows => 5, :columns => 40 %>
<li> Are you bringing your own music? <%= prearranged_chamber.check_box :bring_own_music  %>
<li> <i>The following field should be visible only if the previous check box is checked</i>
<li> Composer and name of piece: &nbsp;&nbsp <%= prearranged_chamber.text_field :music_composer_and_name, :size => 80 %>
<li><i>The following field (notes) should be visible to everybody</i>
</ul>

<!---------------------------------->
<p>
Other comments, questions, or requests:
<br>
<%= prearranged_chamber.text_area :notes, :rows => 5, :columns => 80 %>
</p>

