<p><%= render :partial => "contact_info", :locals => {:instrument => instrument, :form => form} %></p>
<hr>

<% if instrument.piano? %>
<%= render :partial => "piano_evaluation", :locals => {:form => form, :instrument => instrument} %>
<% else %>

<% if (instrument.violin? || instrument.viola?) %>
<%= render :partial => "part", :locals => {:form => form, :instrument => instrument} %>
<hr>
<% end %>

<%= render :partial => "groups", :locals => {:form => form, :instrument => instrument} %>
<hr>

<%= render :partial => "practice_frequency",:locals => {:form => form, :instrument => instrument} %>
<hr>

<%= render :partial => "private_study", :locals => {:form => form, :instrument => instrument} %>
<hr>

<%= render :partial => "chamber_frequency", :locals => {:form => form, :instrument => instrument} %>
<hr>

<!-- String position stuff -->
I can read well in:
<table>
<tr>
<td>3rd Position</td><td>4th Position</td><td>5th Position</td><td>6th Position</td><td>7th Position<td> 
        <% if instrument.cello? || instrument.bass? %> <td>Thumb Position</td> <% end %>
    </tr>
<tr>
<td><%= form.check_box :third_position %></td><td><%= form.check_box :fourth_position %></td><td><%= form.check_box :fifth_position %></td>
       <td><%= form.check_box :sixth_position %></td><td><%= form.check_box :seventh_position %><td> 
        <% if instrument.cello? || instrument.bass? %> <td><%= form.check_box :thumb_position %></td> <% end %>
    </tr>
</table>

<hr>

<% if instrument.bass? %>
<%= render :partial => "jazz_experience", :locals => {:form => form, :instrument => instrument} %>
<hr>
<% end %>
   
<%= render :partial => "overall_assessment", :locals => {:form => form, :instrument => instrument} %>
<% end %>


