<h1>Chamber Music Choices</h1>

<ul>
<li>Ensemble primary id <%= @ensemble_primary.id %>
<li>Primary instrument id <%= @primary_instrument_id %>
<li>Num mmr <%= @num_mmr %>
<li>Num pre <%= @num_prearranged %>
</li>
<%= form_for @ensemble_primary, url: {action: "create_chamber", method: "post"} do |form| %>
   <%= form.fields_for :mmr_chambers do |mmr_chamber| %>
      <%= render :partial => "mmr_chamber", :object => mmr_chamber %>
   <% end %>
   <%= form.fields_for :prearranged_chambers do |prearranged_chamber| %>
      <%= render :partial => "prearranged_chamber", :object => prearranged_chamber %>
   <% end %>
<p/>
<%= submit_tag "Submit" %>
<% end %>
