<h2>Summary</h2>

<ul>
<li>Your name is <%= @ensemble_primary.registration.display_name %>
<li>Your primary instrument is <%= @ensemble_primary.primary_instrument.display_name %>
<li>Your large ensemble choice is <%= EnsemblePrimary.enum_name(:large_ensemble_choice, @ensemble_primary.large_ensemble_choice) %>
<li>Your chamber music choice is <%= EnsemblePrimary.enum_name(:chamber_ensemble_choice, @ensemble_primary.chamber_ensemble_choice) %>
<li>Your elective choices in order are: 
<ul>
<%= render :partial => "elective_summary_line", :collection => @ensemble_primary.elective_ranks.sort{|er1, er2| er1.rank <=> er2.rank} %>
</ul>
<li>You filled out evaluations for: <%= @ensemble_primary.evaluations.map{|e|e.instrument.name}.join(",") %>
</li>




