<h1>Midsummer Musical Retreat Ensemble and Elective Choices</h1>

<p>
Welcome to MMR <%= Year.this_year %>. This web form will lead you through requesting 
the Elective and Ensemble program you prefer. You will also complete the self-evaluations 
needed by the Faculty to plan the best possible program for you.  This is a new format 
so if problems arise please contact us  (800)471-2419   or  
<a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>.
You will be asked to review  and confirm your choices at the end.
</p>
<p>
Your Primary Instrument or Voice is <%= @instrument.display_name %>;  this will be used
for choice of morning large ensemble.
</p>

</ul>

<%= form_for(@ensemble_primary, :url => {:action => :primary_chamber}) do |form| %>
<%= form.hidden_field :registration_id %>
<hrule/>
<h2> Morning Large Ensemble Choice</h2>
<% if @large_ensemble_option == "band_or_orchestra" %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Either Symphonic Band or Festival Orchestra</td><td><%= form.radio_button :large_ensemble_choice, 1, {:checked => true} %></td></tr>
<tr><td>Prefer Symphonic Band </td><td><%= form.radio_button :large_ensemble_choice, 2 %></td></tr>
<tr><td>Prefer Festival Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 3 %></td></tr>
</table>
<% elsif @large_ensemble_option == "band" %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Symphonic Band </td><td><%= form.radio_button :large_ensemble_choice, 2, {:checked => true} %></td></tr>
</table>
<% elsif @large_ensemble_option == "festival_or_string_orchestra" %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Festival Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 3, {:checked => true} %></td></tr>
<tr><td>String Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 5, {:checked => true} %></td></tr>
<tr><td>Either Festival or String Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 6, {:checked => true} %></td></tr>
</table>
<% elsif @large_ensemble_option == "chorus" %>
<table>
<tr><td>No Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Festival Chorus </td><td><%= form.radio_button :large_ensemble_choice, 4, {:checked => true} %></td></tr>
</table>
<% elsif @large_ensemble_option == "none" %>
<table>
<tr><td>I understand that I will not be assigned a Morning Large Ensemble</td><td><%= form.check_box :ack_no_morning_ensemble %></td></tr>
<tr><td>I would like to sing in the Festival Chorus</td><td><%= form.check_box :want_sing_in_chorus %></td></tr>
<tr><td>I would like to talk to a faculty member about playing percussion in Symphonic Band</td><td><%= form.check_box :want_percussion_in_band %></td></tr>
<% else %>
<h1> I don't know what to render for large ensemble choice <%= @large_option_ensemble %>  Help!!</h1>
<% end %>

<%= render :partial => "part_large_ensemble", :locals => {:form => form, :instrument => @instrument} %>

<hr/>
<h2>Chamber Ensembles</h2>

<p>
During the afternoon, MMR singers and instrumentalists participate in a variety of 
Chamber Ensembles and Elective classes that provide an opportunity for campers to shift and expand their musical focus. These Ensembles and Electives will meet once each day for one hour. 
Campers who come with a pre-arranged Ensemble are guaranteed the 
opportunity to be coached together and may choose either one 
or two sessions of coaching. Those coming independently will 
be assigned to Ensembles using the information on the self-evaluation. 
Most Electives are scheduled in only one session each afternoon 
and may conflict with each other or with assigned Chamber Ensembles. 
</p>
<p>
Please Keep in Mind:
<ul>
<li>There are three sessions each afternoon for Chamber Ensembles, Electives and Free Time
<li>A typical afternoon program would be one or two Chamber Ensembles and one Elective or Free Time.   Two Electives and an Ensemble or Free Time are also possible.
<li>Requests for a second Ensemble or Elective will be filled only if faculty and other players are available.
<li>Late registrants and those who do not complete this form before June 1st are not guaranteed an individual  Chamber Ensemble. 
</ul>
<p/><p/>

<table>
<tr>
  <td>I do not want to play or sing in a chamber ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 0%></td>
</tr>
<tr>
  <td>Please assign me one ensemble that will meet one session per day</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 1, {:checked => true} %></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble for one coached session; I do not want a second ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 2%></td>
</tr>
<tr>
  <td>Please assign me two ensembles, each one session per day</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 3%></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble for one coached session; please assign me a second ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 4%></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble and would like two coached sessions per day</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 5%></td>
</tr>
<tr>
  <td>I am coming with two pre-arranged ensembles and would like one coached sessions per day for each</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 6%></td>
</tr>
</table>

<%= submit_tag "Submit" %>
<% end %>  <!- End form ->
