<h1>Ensemble Choosing First Page:  Intro material and large ensemble</h1>
<p>Choosing ensembles for <%= @registration.display_name %></p>
<p>Your primary instrument is <%= @instrument_name %></p>
<% @large_ensemble_option = Instrument.find(@registration.instrument_id).large_ensemble %>
<p>Your large ensemble option is <%= @large_ensemble_option %></p>

<%= form_for(@ensemble_primary, :url => {:controller => :ensembles, :action => :create_ensemble_primary}) do |form| %>
<%= form.hidden_field :registration_id %>
<hrule/>
<h2> Morning Large Ensemble Choice</h2>
<% if @large_ensemble_option == :band_or_orchestra %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Either Symphonic Band or Festival Orchestra</td><td><%= form.radio_button :large_ensemble_choice, 1 %></td></tr>
<tr><td>Prefer Symphonic Band </td><td><%= form.radio_button :large_ensemble_choice, 2 %></td></tr>
<tr><td>Prefer Festival Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 3 %></td></tr>
</table>
<% elsif @large_ensemble_option == :band %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Symphonic Band </td><td><%= form.radio_button :large_ensemble_choice, 2 %></td></tr>
</table>
<% elsif @large_ensemble_option == :orchestra %>
<table>
<tr><td>No Morning Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Festival Orchestra </td><td><%= form.radio_button :large_ensemble_choice, 3 %></td></tr>
</table>
<% elsif @large_ensemble_option == :chorus %>
<table>
<tr><td>No Large Ensemble</td><td><%= form.radio_button :large_ensemble_choice, 0 %></td></tr>
<tr><td>Festival Chorus </td><td><%= form.radio_button :large_ensemble_choice, 4 %></td></tr>
</table>
<% elsif @large_ensemble_option == :none %>
<table>
<tr><td>I understand that I will not be assigned a Morning Large Ensemble</td><td><%= form.check_box :ack_no_morning_ensemble %></td></tr>
<tr><td>I would like to sing in the Festival Chorus</td><td><%= form.check_box :want_sing_in_chorus %></td></tr>
<tr><td>I would like to talk to a faculty member about playing percussion in Symphonic Band</td><td><%= form.check_box :want_percussion_in_band %></td></tr>
<% else %>
<h1> I don't know what to render for large ensemble choice.  Help!!</h1>
<% end %>
<hrule/>
<h2>Chamber Music Choice</h2>
<table>
<tr>
  <td>I do not want to play or sing in a chamber ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 0%></td>
</tr>
<tr>
  <td>Please assign me one ensemble that will meet one session per day<td></td>
  <td><%= form.radio_button :chamber_ensemble_choice, 1%></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble for one coached session; I do not want a second ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 2%></td>
</tr>
<tr>
  <td>Please assign me two ensembles, each one session per day</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 3%></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble for one coached session; please assign me a second ensemble</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 4%></td>
</tr>
<tr>
  <td>I am coming with one pre-arranged ensemble and would like two coached sessions per day</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 5%></td>
</tr>
<tr>
  <td>I am coming with two pre-arranged ensembles and would like one coached sessions per day for each</td>
  <td><%= form.radio_button :chamber_ensemble_choice, 5%></td>
</tr>
</table>

<%= submit_tag "Submit" %>
<% end %>  <!- End form ->
