<h1>Chamber Music Choices</h1>

Now give us some information about your chamber music choices.  You have asked to 
be assigned to <%= @num_mmr %> <%= "group".pluralize(@num_mmr) %> put together by 
MMR and <%= @num_prearranged %> <%= "group".pluralize(@num_prearranged) %> you will pre-arrange.

<%= form_for @ensemble_primary, url: {action: "chamber_elective", method: "post"} do |form| %>
   <%= form.hidden_field :id %>

   <%= form.fields_for :mmr_chambers do |mmr_chamber| %>
      <%= render :partial => "mmr_chamber", :object => mmr_chamber %>
   <% end %>
   <%= form.fields_for :prearranged_chambers do |prearranged_chamber| %>
      <%= render :partial => "prearranged_chamber", :object => prearranged_chamber %>
   <% end %>
<p/>
<%= submit_tag "Submit" %>
<% end %>
